*{
    margin: 20;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://i.pinimg.com/564x/f9/15/9b/f9159b983aa026f86ebbcc4992154e59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
section{
    background-color: rgba(0, 0, 0, 0.745);
    color: rgb(236, 236, 236);
    
}

section h1{
    color: rgb(255, 0, 0);
    text-align: center;
}
section h4{
    width: 70%;
    text-align: right;
   
}
